<div class="container">
  <div class="row">
    <div class="col-12">
    <% if(locals.isAuthenticated && addnime.belongsTo(user)) { %>
      <div class="anime-options">
        <a href="/addnimes/<%= addnime.id %>/edit" class="btn btn-primary">Edit content</a>
        <form method="POST" action="/addnimes/<%= addnime.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-primary">Delete all</button>
        </form>
      </div>
    <% } %>
    <img class="img-fluid" src="<%= addnime.image %>" alt="<%= addnime.nameOfShow %>">
    <h2><%= addnime.nameOfShow %></h2>
    <h2><%= addnime.yearReleased %></h2>
    <p>
      <div class="starsColor"><% while(addnime.stars--) { %> &star; <% } %></div>
    </p>
    <p>
      <%= addnime.description %><br>
    </p>
    <section>
      <h4>Comments</h4>
      <% addnime.comments.forEach((comment) => { %>
        <p><%= comment.content %></p>
      <% }) %>
    </section>
  </div>
<div class="form-group container-fluid">
    <% if(locals.isAuthenticated) { %>
      <section>
        <h4>Leave a comment</h4>

        <form method="POST" action="/addnimes/<%= addnime.id %>/comments">
          <div class="form-group">
            <textarea class="form-control" name="content" id="content" placeholder="Comment" required maxlength="255"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Submit comment</button>
          </div>
        </form>
      </section>
    <% } %>
    </div>
  </div>
</div>
