<div class="large-12 columns">
  <img src="<%= addnime.image %>" alt="<%= addnime.nameOfShow %>">
  <h2><%= addnime.nameOfShow %></h2>
  <h2><%= addnime.yearReleased %></h2>
  <p>
    <%= addnime.description %><br>
  </p>

  <p>
    <% while(addnime.stars--) { %> &star; <% } %>
    
  </p>
    <section>
  <h4>Comments</h4>
  <% addnime.comments.forEach((comment) => { %>
    <p><%= comment.content %></p>
    <small><%= comment.createdBy.username %></small>

    <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
      <form method="POST" action="/addnimes/<%= addnime.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    <% } %>
  <% }) %>
</section>
  </div>
